    *{
        padding: 0;
        box-sizing: none;
        margin: 0;
        box-sizing: content-box;
    }
    body
    {
        font-family: Arial, sans-serif;
        background-color: #D5BFA3;
        text-align: center;
        margin: 0;
        padding: 0;    
    }
    nav
    {
        width: 11%;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        border-radius: 10px;
        color: aliceblue;

    }
    nav a
    {
    text-decoration: none;
    color: white;
    margin: 0 15px; 
    text-align: center;
    justify-content: center;
    }
    nav img
    {
        display: flex;
        height: auto;
        padding-right: 20px;
        width: 35px;
    }
    .barra
    {
        text-align: center;
        background-color: black;
        color: white;
    }
    .titulo
    {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
        font-family: 'Great Vibes', cursive;
        font-size: 48px; 
        

    }
    .titulo a 
    {
        color: #3E2723;
        text-decoration: none;
    }
    .button-entrar
    {
        width: 50%;
        padding: 10px;
        background-color: #121312;
        color: white;
        border-radius: 10px;
        margin: 10px ;
    }
    .button-entrar:hover{
        background: #444;
    }
    .menu {
        width: 11%;
        padding: 70px;
        
    }

    .menu a
    {
        color: white;
        margin: 0 15px;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s;
        
        }   
        .menu a:hover {
            color: black;
        }
    form
    {
        width: 350px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin: 250px auto;

        background-color: white;

    }
    .logo {
        display: flex;
        position: absolute;
        top: 10px;
        right: 60px;
        margin: 0;
        padding: 10px;
        align-items: center;
        gap: 10px; 
    }
    input {
        padding: 10px ;
        border-radius: 10px ;
        margin: 10px ;
        }
    .cafe
    {

        display: flex;
        position: absolute;
        top: 10px;
        right: 60px;
        margin: 0;
        padding: 10px;
        align-items: center;
        gap: 10px;     
    }
    .cafe img
    {

        width: 55px;
        height: auto;
        cursor: pointer;
        padding: 5px;
    }

    .logo img {
        width: 55px;
        height: auto;
        cursor: pointer;
        padding: 5px;
    }

    .copo, .grao, .folha, .folha2 {
        display: flex;
        position: absolute;
        width: 250px; 
    }
    
    .copo {
        right: 150px; 
        bottom: 80px; 
    }
    
    .grao {
        right: 80px; 
        bottom: 20px;
        align-items: center; 
        text-align: center;
    }
    
    .folha {
        left: auto;
        bottom: 30px;
        
    }
    
    .folha2 {
        right: 200px;
        top: 100px;
    }
    
    .copo img, .grao img, .folha img, .folha2 img {
        width: 100%; /* Mantém o tamanho responsivo */
        max-width: 250px; /* Define o mesmo tamanho para todas */
    }
    .grao {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
        bottom: 20px; 
        width: 200px; 
    }
    
    .grao img {
        width: 100%;
        max-width: 300px; 
    }
    .texto
    {
        align-items: center;
    }
    
    .texto p 
    {font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    }
    footer {
        background-color: #3E2723;
        color: #fff;
        padding: 2rem;
        text-align: center;
        margin-top: 20rem;
    }
    .cadastro
    {
        width: 350px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin: 45px auto;

        background-color: white;
    }
    .cadastrar
    {
        width: 50%;
        padding: 10px;
        background-color: #121312;
        color: white;
        border-radius: 10px;
        margin: 10px ;
    }
    .cadastrar:hover
    {
        background: #444;
 
    }
    .senha
    {
        text-decoration: none;
        color: #121312;
        font-size: 12px;  /* Aumenta o tamanho do texto */
  font-weight: bold; /* Deixa o texto mais destacado */
  text-align: right; /* Alinha o texto à direita */
  display: block;    /* Garante que o alinhamento funcione corretamente */
  margin-right: 10px;

    }
    .cria
    {
        text-decoration: none;
        color: #121312;
    }
    
    
    
    








